@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body{
    background-color: #1A2B3D;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

.intro-grid{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-template-rows: 100%;
}
.intro-box{
    background-color: #233B52;
    margin: 2%;
    padding: 2%;
    text-align: left;
    color: #71BF79;
    font-size: 5vw;
    font-family: 'Space Grotesk';
    font-weight: 300;
}

.intro-circle{
border: 3px dashed #C5DCBD;
padding: 2%;
border-radius: 100%; 
z-index: 1;
}

.edu-box{
    color: #71BF79;
}

.edu-intro{
    background-color: #233B52;
    border-top-right-radius: 240px;
    display: flex;
    flex-direction: row;
}
.edu-intro-intra{
    margin: 2%;
    padding: 2%;
    font-size: 3vw;
    text-align: left;
}
.edu-intro-edge-flex{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.edu-intro-edge{
    border-top-right-radius: 250px;
    background-color: #C5DCBD;
    height: 100%;
}
.edu-intro-bottom{
    background-color: #1A2B3D;
    height: 40%;
}

.portfolio-link{
    background-color: #345970;
    border-radius: 100%;
    width: 15vw;
    height: 15vw;
    padding: 5vw;
    display: flex;
    border-width: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3vw;
    z-index: 1;
    color: #FF6800;
    text-decoration: none;
}

.link-border{
    border: 2px dashed #71BF79;
    border-radius: 100%;
    z-index: 1;
    width: 25vw;
    height: 25vw;
    padding: 2%;
}

.exp-box{
    color: #71BF79;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 2%;
}

.exp1{
width: 50%;
background-color: #233B52;
padding: 2vh;
border-top-right-radius: 100%;
border-bottom-right-radius: 100%;
height: 28vh;
width: 40vh;
display: flex;
align-items: center;
justify-content: center;
text-align: left;
font-size: 2.5vw;
}

.exp2{
    width: 25%;
    background-color: #345970;
    padding: 2vh;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}