@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
  background-color: #1a2b3d;
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk";
  color: #71bf79;
  font-weight: 300;
  margin: 15%;
}

.box-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.intro-box {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  display: inline;
  background-color: #233b52;
  margin-right: 10vw;
  margin-bottom: 10vw;
  padding: 2%;
  text-align: left;
  font-size: 3vw;
  font-family: "Space Grotesk";
  font-weight: 300;
  z-index: 0;
}

.intro-circle {
  justify-self: right;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  border: 2px dashed #c5dcbd;
  padding: 5%;
  border-radius: 100%;
  z-index: 1;
  margin-top: 35%;
  margin-right: 8%;
}

.edu-intro {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  display: flex;
  flex-direction: row;
  color: #71bf79;
  height: 18vw;
  z-index: 0;
}
.edu-intro-intra {
  background-color: #233b52;
  margin-left: 2%;
  padding-top: 4vw;
  padding-left: 2%;
  padding-right: 15vw;
  font-size: 2vw;
  text-align: left;
}
.edu-intro-edge-flex {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.edu-intro-edge {
  border-top-right-radius: 450px;
  background-color: #c5dcbd;
  height: 100%;
  z-index: 1;
}
.edu-intro-bottom {
  background-color: #1a2b3d;
  height: 60%;
  z-index: 2;
}

.portfolio-link {
  background-color: #345970;
  border-radius: 100%;
  width: 11vw;
  height: 11vw;
  padding: 3vw;
  display: flex;
  border-width: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2vw;
  color: #71bf79;
  text-decoration: none;
  margin: 0vw;
  justify-self: center;
}
.portfolio-link:hover {
  color: #ff6800;
}

.link-border {
  border: 2px dashed #71bf79;
  border-radius: 100%;
  width: 17vw;
  height: 17vw;
  padding: 5%;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  z-index: 3;
  justify-self: center;
  align-self: center;
  margin-top: 3vw;
  margin-right: 10%;
}

.exp-grid {
  color: #71bf79;
  font-size: 2vw;
  display: grid;
  grid-template-columns: 33%;
  margin: 2%;
  padding: 2%;
}

.exp1 {
  background-color: #233b52;
  padding: 3vh;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  width: 30vw;
  padding-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 2vw;
  color: #71bf79;
  margin: 2vw;
  height: 70%;
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  height: 17vw;
}

.exp-triangle {
  margin-top: 2vw;
  justify-self: right;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.exp2 {
  margin-top: 2vw;
  background-color: #345970;
  padding: 3vh;
  padding-right: -10%;
  width: 80%;
  font-size: 1.5vw;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #71bf79;
  grid-column: 3 / 4;
  grid-row: 1 / 1;
  height: 17vw;
}

.exp-circle {
  z-index: -1;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  justify-self: right;
  padding-right: 3vw;
}

.work-textbox {
  font-size: 2vw;
  font-weight: 500;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.color-textbox {
  background-color: #233b52;
  color: #c5dcbd;
  font-size: inherit;
  font-weight: 300;
  padding: 2%;
}

.work-link {
  color: #71bf79;
  font-weight: 600;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
}

.work-link:hover {
  color: #ff6800;
}

ul {
  list-style: none;
}

li {
  font-weight: 300;
  font-size: 1.5vw;
  color: #71bf79;
  background-color: #233b52;
  margin: 1%;
  padding: 2%;
  padding-right: 10%;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

.bullet-points {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.container-bulletpoint-img {
  display: flex;
  flex-direction: row;
}

.DiVa-link {
  color: #71bf79;
  font-weight: 500;
  text-decoration: none;
}

.DiVa-link:hover {
  color: #ff6800;
}
img{
  width: 25vw;
  height: 30vw;
  margin-top: 5%;
}

.title-project{
  font-size: 3vw;
}
